<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style type="text/css">
        body {
          margin-top: 20px;
        }
  
        .chat-online {
          color: #34ce57;
        }
  
        .chat-offline {
          color: #e4606d;
        }
  
        .chat-messages {
          display: flex;
          flex-direction: column;
          max-height: 800px;
          overflow-y: scroll;
        }
  
        .chat-message-left,
        .chat-message-right {
          display: flex;
          flex-shrink: 0;
        }
  
        .chat-message-left {
          margin-right: auto;
        }
  
        .chat-message-right {
          flex-direction: row-reverse;
          margin-left: auto;
        }
        .py-3 {
          padding-top: 1rem !important;
          padding-bottom: 1rem !important;
        }
        .px-4 {
          padding-right: 1.5rem !important;
          padding-left: 1.5rem !important;
        }
        .flex-grow-0 {
          flex-grow: 0 !important;
        }
        .border-top {
          border-top: 1px solid #dee2e6 !important;
        }
      </style>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <main class="content">
      <div class="container p-0">
        <h1 class="h3 mb-3">Messages</h1>

        <div class="card">
          <div class="row g-0">
            <div class="col-12 col-lg-5 col-xl-3 border-right">
              <div class="px-4 d-none d-md-block">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1">
                    <input
                      type="text"
                      class="form-control my-3"
                      placeholder="Search..."
                    />
                  </div>
                </div>
              </div>

              <a
                href="#"
                class="list-group-item list-group-item-action border-0"
              >
                {% comment %} <div class="badge bg-success float-right">5</div> {% endcomment %}
                <div class="d-flex align-items-start">
                  <img
                    src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
                    class="rounded-circle mr-1"
                    alt="Sharon Lessman"
                    width="40"
                    height="40"
                  />
                  <div class="flex-grow-1 ml-3">
                    Sharon Lessman
                    <div class="small">
                      <span class="fas fa-circle chat-online"></span> Online
                    </div>
                  </div>
                </div>
            </a>

              <hr class="d-block d-lg-none mt-1 mb-0" />
            </div>
            <div class="col-12 col-lg-7 col-xl-9">
              <div class="py-2 px-4 border-bottom d-none d-lg-block">
                <div class="d-flex align-items-center py-1">
                  <div class="position-relative">
                    <img
                      src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
                      class="rounded-circle mr-1"
                      alt="Sharon Lessman"
                      width="40"
                      height="40"
                    />
                  </div>
                  <div class="flex-grow-2 pl-3">
                    <strong>Sharon Lessman</strong>
                    {% comment %} <div class="text-muted small"><em>Typing...</em></div> {% endcomment %}
                    <button id="logout" class="btn btn-danger btn-sm float-right">Logout</button>
                  </div>


                </div>
              </div>

              <div class="position-relative">
                <div id="messages" class="chat-messages p-4">
                </div>
            <form method="POST" id="form">
              <div class="flex-grow-0 py-3 px-4 border-top">
                <div class="input-group">
                  <input
                    name="message"
                    type="text"
                    class="form-control"
                    placeholder="Type your message"
                  />
                  {{ room_name|json_script:"room-name" }}
                  <button type="submit" class="btn btn-primary">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript">
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        let url = `wss://${window.location.host}/ws/chat/${roomName}/`
        const chatSocket = new WebSocket(url);
        let user_names = {
            A: "Adam",
            B: "Ben",
            C: "Charlse",
            D: "Daniel",
            E: "Emmanuel",
            F: "Favour"
        }
        let user = ""
        let classname = ""
        characters = "ABCDEF"

        const timeout = 1800 * 1000
        let auotLogout = setTimeout(logout, timeout)
        const messagesDiv = document.getElementById("messages")

        unique = characters.charAt(Math.floor(Math.random() * characters.length))
        Object.keys(user_names).forEach(key => {
            if (key === unique){
                user += user_names[key]
            }
        })


        const displayMessage = (user_data) => {

            htmlMessage = `
            <div class="${user_data.classname} pb-4">
                <div>
                  <img
                    src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
                    class="rounded-circle mr-1"
                    alt="Chris Wood"
                    width="40"
                    height="40"
                  />
                  <div class="text-muted small text-nowrap mt-2">
                    2:33 am
                  </div>
                </div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                  <div class="font-weight-bold mb-1">${user_data.sender}</div>
                  ${user_data.message}
                </div>
              </div>
            `

            messagesDiv.insertAdjacentHTML("beforeend", htmlMessage)
        }
        
        window.onload = e => {
          chatHistory = JSON.parse(window.localStorage.getItem(roomName))
          for(let chat in chatHistory){
            displayMessage(chatHistory[chat])
        }
        }

        
        chatSocket.onmessage = e => {
            const data = JSON.parse(e.data);
            sender = data.sender
            message = data.message
                if (sender === user) {
                    classname = "chat-message-right"
                    sender = "You"

                }
                else {
                    classname = "chat-message-left"
                }
            user_data = {
                classname,
                sender,
                message
            }
            displayMessage(user_data)

            
            let messages = ""
            chatHistory = JSON.parse(window.localStorage.getItem(roomName))
            if (chatHistory){
                messages = [...chatHistory, user_data]
            }
            else {
                messages = [user_data]
            }
            window.localStorage.setItem(roomName, JSON.stringify(messages))
            
            messagesDiv.scrollTop = messagesDiv.scrollHeight + 1;
        };

    
        const form = document.getElementById('form')
        form.addEventListener("submit", e => {
            e.preventDefault()
            const message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message': message,
                'name': user
            }));
            form.reset()
            clearTimeout(auotLogout)
            auotLogout = setTimeout(logout, timeout);
        });

        logout = () => {
            window.localStorage.removeItem(roomName)
            window.location.pathname = '/';
        }

        document.getElementById("logout").onclick =  logout
    </script>
  </body>
</html>
